html {
    scroll-behavior: smooth;
}

body {
    background-color: #c5e7e7;
}

h1 {
    margin: 0 auto;
    padding: 16px;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #399292;
    color: #ecf0f1;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    padding: 10px 20px;
    z-index: 1000;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    gap: 20px;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-item {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.main-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    padding-top: 30px;
}

.button-fight-wrapper {
    display: flex;
    justify-content: center;
}

.button-box {
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 10px 20px;
}

.battle-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.health-bar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.HealthBar {
    width: 200px;
    height: 20px;
}

.battle-entity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 20px;
}

.battle-entity.avatar {
    width: 300px;
    height: 425px;
}

.battle-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.strike-zone {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.attack-zone {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.defence-zone {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;    
}

.radio-checkbox {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.separator {
    width: 1px;
    background-color: rgb(10, 10, 10);
}

.log-box {
    font-size: large;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-top: 1px solid black;
    overflow-y: auto;
    height: 25%;
}

.character-page-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
}

.character-info {
    display: flex;
    gap: 30px;
}

.character-info-avatar {
    border: 1px solid rgb(19, 18, 18);
    border-radius: 10px;
    height: 425px;
    width: 300px;
    position: relative;
}
.character-info-avatar-img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.character-info-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.character-info-data-res {
    display: flex;
    gap: 16px;
}

.character-info-data-res-win {
    color: green;
}
.character-info-data-res-loses {
    color: red;
}

.settings-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 32px;
    margin-top: 60px;
}

.settings-edit-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-edit-label {
    font-size: 24px;
}

.settings-edit-character-name {
    font-size: 24px;
}

.register-page-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.register-title {
    font-size: 24px;
    margin-bottom: 40px;
}

.register-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register-field-label {
    font-size: 16px;
    margin-bottom: 5px;
}

.register-field-input {
    border: 1px solid #34dbb1;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.register-button {
    margin-top: 20px;
}

.button-box.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.clickable {
    cursor: pointer;
}

.popup-box {
    display: none;
    align-items: center;
    background-color: rgba(248, 240, 240, 0.6);
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.popup-box .popup-content {
    display: flex;
    align-items: center;
    background-color: #a2a0a0;
    border: 1px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    height: 60%;
    justify-content: center;
    padding: 4rem 1rem 1rem;
    position: relative;
    width: 40%;
}

.IconContainer {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.popup-box .popup-content-closeButton {
    background-color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.popup-avatar-box {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.popup-avatar-item {
    height: 200px;
    position: relative;
    width: 150px;
}

.popup-avatar-item .avatar-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}